html, body
{
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #ddefed;
}

#logo
{
	width: 10rem;
	height: 10rem;
}

#navbar
{
	margin: 0;
	padding: .3rem;
	background-color: black;
}

.nav-link
{
	background-color: black;
	color: white;
}

.nav-link:hover
{
	background-color: darkgrey;
	color: white;
}

.nav-center
{
	text-align: center;
}

.nav-center a
{
	margin: 0 .5rem 0 .5rem;
	padding: .5rem 2rem .5rem 2rem;
}

.nav-right
{
	text-align: right;
}

#header
{
	margin: 0;
	padding: 2rem;
	background: url("../images/zoo_header.jpg");
}

#footer
{
	margin: 0;
	padding: 3rem;
	background-color: darkgray;
	color: white;
}

#jumbotron
{
	margin-top: 3rem;
	padding: 3rem;
	background-color: #ffbb33;
	color: white;
}

#jumbotron>h1
{
	color: white;
}

#buttons
{
	margin-top: 4rem;
}

#buttons > .btn
{
	margin: 1rem;
	padding: .8rem;
}

.margin-1
{
	float: left;
}

.margin-3
{
	float: right;
}

.margin-7
{
	margin-top: 3rem !important;
	margin-left: 3rem !important;
}

.profile-picture-holder
{
	width: 3rem;
	height: 3rem;
	margin-top: .1rem;
	padding: 0;
	display: inline-block;
}

.profile-picture
{
	width: 3rem;
	height: 3rem;
	margin: 0;
	padding: 0;
	border-radius: 50%;
	overflow: hidden;
}

.active
{
	background-color: #ffbb33 !important;
}

.inactive
{
	background: none !important;
	color: gray !important;
}

.btn, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus
{
	border: none !important;
	outline: none !important;
	outline-width: 0 !important;
	outline-style: none !important;
	outline-color: transparent !important;
	box-shadow: none !important;
}

.btn-invis, .btn-invis:link
{
	background: none;
	color: white !important;
}

.btn-invis:hover
{
	background: none;
	color: #ffbb33;
}

.btn-primary, .btn-primary:link
{
	background-color: #992222;
}

.btn-primary:hover
{
	background-color: #cc4444;
}