<div id="header" class="col-sm-12">
	<img src="assets/images/logo.png" id="logo" class="img-fluid">
</div>

<nav id="navbar" class="navbar col-sm-12">
	<div class="container-fluid col-sm-6">
		<a class="btn btn-primary" [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
		<a class="btn btn-primary" [routerLink]="['/animals']" [routerLinkActive]="['active']">Animals</a>
		<a class="btn btn-primary" [routerLink]="['/keepers']" [routerLinkActive]="['active']">Keepers</a>
		<a class="btn btn-primary" [routerLink]="['/store']" [routerLinkActive]="['active']">Store</a>
		<a class="btn btn-primary" [routerLink]="['/contact']" [routerLinkActive]="['active']">Contact</a>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="content">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>

<div id="footer" class="col-sm-12">
	<footer>Copyright n shit</footer>
</div>